.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row::after {
  display: table;
  clear: both;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@font-face {
  font-family: 'Montserrat';
  src: url(layouts/fonts/montserrat-v14-latin/montserrat-v14-latin-regular.woff);
}

.App {
  position: relative;
  margin: auto;
  width: 1440px;
  background: #FFFFFF;
  font-family: Montserrat;
}

.App .header-main .header {
  padding-left: 130px;
  background: linear-gradient(92.09deg, #255D8B 2.29%, #3A80BA 96.79%);
  background-image: url("Images/Rectangle_8.png");
  color: #FFFFFF;
  height: 655px;
}

.App .header-main .header .header-col {
  width: 45%;
}

.App .header-main .header h2 {
  font-weight: normal;
  font-size: 40px;
  margin-top: 24px;
}

.App .header-main .header h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  margin-bottom: 0px;
}

.App .header-main .header p {
  margin-top: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 32px;
}

.App .header-main .header button {
  width: 154px;
  height: 56px;
  border-radius: 8px;
  background: #FFFFFF;
  color: #3A80BA;
  font-size: 16px;
}

.App .header-main .header .mobile-wrap {
  display: block;
  margin-top: 76px;
  margin-left: 186px;
}

.App .wrap-img {
  background-image: url("Images/Rectangle_51.png");
  background-position: right;
  background-repeat: no-repeat;
}

.App .wrap-img .about2 {
  display: block;
  margin: auto;
  width: 664px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #7E7E7E;
}

.App .question {
  display: block;
  margin: auto;
  font-size: 32px;
  text-align: center;
  width: 580px;
}

.App .question h3 {
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
}

.App .about {
  display: block;
  margin: auto;
  text-align: center;
  line-height: 28px;
  font-size: 20px;
  width: 760px;
  color: #7E7E7E;
}

.App .about p {
  margin: 0px;
}

.App .Info {
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 30px;
  margin-top: 22px;
  margin-bottom: 81px;
}

.App .Info .rowInfo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .Info .colInfo {
  padding: 0 10px;
}

.App .Info .clean-design {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 32px;
  padding: 40px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}

.App .Info .clean-design h3 {
  color: #1A1A1A;
  font-weight: 600;
  font-size: 24px;
}

.App .Info .clean-design h2 {
  font-weight: bold;
  font-size: 48px;
  margin: 0 0 30px 0;
}

.App .Info .clean-design p {
  color: #7E7E7E;
  margin: 0px;
  font-size: 15px;
}

.App .learn-container {
  background: linear-gradient(93.19deg, #255D8B 2.29%, #3A80BA 96.79%);
  color: #FFFFFF;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 35px;
}

.App .learn-container .learn-col {
  width: 48%;
}

.App .learn-container .learn-col h2 {
  font-size: 32px;
  line-height: 39px;
  margin-left: 130px;
  margin-bottom: 0px;
}

.App .learn-container .learn-col p {
  margin-left: 130px;
  margin-bottom: 24px;
}

.App .learn-container .learn-col button {
  width: 154px;
  height: 56px;
  border-radius: 8px;
  background: #FFFFFF;
  color: #3A80BA;
  font-size: 16px;
  width: 221px;
  height: 56px;
  margin-left: 130px;
}

.App .learn-container .Jimmy-wrap {
  background: linear-gradient(135.04deg, #FFFFFF 1.29%, #D0D0D0 80.1%);
  border-radius: 22px;
  position: absolute;
  left: 48.94%;
  right: 14.63%;
  top: 1230px;
  bottom: 1225px;
}

.App .learn-container .Jimmy-wrap img {
  display: block;
  margin: auto;
  padding-top: 26px;
}

.App .learn-container .Jimmy-wrap .keyboard_base {
  display: block;
  margin-top: -15px;
  margin-left: -50px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.0983639);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.0983639);
}

.App .learn-container .Rectangle_4 {
  display: block;
  z-index: 5;
  margin-top: 280px;
  margin-left: 15px;
  width: 524px;
  height: 24px;
  background: #DADADA;
}

.App .question .h3Question {
  margin-top: 80px;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
}

.App .standard {
  color: #3A80BA;
}

.App .purchase-btn {
  width: 154px;
  height: 56px;
  border-radius: 8px;
  background: #FFFFFF;
  color: #3A80BA;
  font-size: 16px;
  background: #3A80BA;
  color: #FFFFFF;
  width: 221px;
  height: 56px;
  margin-top: 24px;
}

.App .contact-us {
  display: block;
  margin: auto;
  text-align: center;
  line-height: 28px;
  font-size: 20px;
  width: 780px;
  height: 56px;
  color: #7E7E7E;
  padding-top: 0px;
  padding-bottom: 28px;
}

.App .contact-us p {
  margin: 0px;
}

.App .contact-us span {
  color: #3A80BA;
  font-weight: bold;
}

.App .main-footer {
  background: linear-gradient(95.82deg, #255D8B 1.6%, #3A80BA 96.44%);
  background-image: url("Images/Rectangle_54.png");
  width: 100%;
  height: 183.46px;
  left: 0px;
  color: #FFFFFF;
  text-align: center;
}

.App .main-footer input {
  width: 579px;
  height: 64px;
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
  color: #7E7E7E;
  padding-left: 20px;
  margin-top: 25px;
}

.App .main-footer button {
  width: 154px;
  height: 56px;
  border-radius: 8px;
  background: #FFFFFF;
  color: #3A80BA;
  font-size: 16px;
  background: #3A80BA;
  width: 176px;
  color: #FFFFFF;
  margin-left: -180px;
}

.App .main-footer h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  margin: 30px;
}

.App .main-footer p {
  font-style: normal;
  font-weight: normal;
  margin: 30px;
  padding-top: 11px;
}

.UsersList, .UserInfo {
  font-family: Montserrat;
  position: relative;
  margin: auto;
  width: 1440px;
  background: #FFFFFF;
}

.UsersList .charts-wrap, .UserInfo .charts-wrap {
  margin-right: 120px;
}

.UsersList .chart, .UserInfo .chart {
  margin-left: 120px;
}

.UsersList .header-statistics, .UserInfo .header-statistics {
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
  background: #3A80BA;
}

.UsersList .header-statistics h2, .UserInfo .header-statistics h2 {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  margin-left: 130px;
  margin-top: 0px;
  padding-top: 10px;
}

.UsersList .Nav, .UserInfo .Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  line-height: 20px;
  color: #3A80BA;
  list-style: none;
  -webkit-box-pack: 5px;
      -ms-flex-pack: 5px;
          justify-content: 5px;
  margin-left: 90px;
}

.UsersList ul a, .UserInfo ul a {
  text-decoration: none;
}

.UsersList h2, .UserInfo h2 {
  margin-left: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  margin-left: 130px;
  color: #1A1A1A;
}

.UsersList .form-users, .UserInfo .form-users {
  text-align: center;
}

.UsersList .form-users label, .UsersList .form-users input, .UserInfo .form-users label, .UserInfo .form-users input {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #3A80BA;
}

.UsersList .form-users input, .UsersList .form-users textarea, .UserInfo .form-users input, .UserInfo .form-users textarea {
  background-color: #d1d1d1;
}

.UsersList .form-users button, .UserInfo .form-users button {
  width: 154px;
  height: 56px;
  border-radius: 8px;
  background: #FFFFFF;
  color: #3A80BA;
  font-size: 16px;
  background: #3A80BA;
  width: 100px;
  height: 30px;
  color: #FFFFFF;
}

.UsersList table, .UserInfo table {
  width: 87%;
  padding: 0px 40px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 24px;
  margin-left: 90px;
}

.UsersList table thead, .UserInfo table thead {
  background: #3A80BA;
  color: #FFFFFF;
}

.UsersList table th, .UsersList table td, .UserInfo table th, .UserInfo table td {
  padding: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.UsersList table td, .UserInfo table td {
  color: #1A1A1A;
  padding: 6px;
}

.UsersList table tr:nth-child(even), .UserInfo table tr:nth-child(even) {
  background-color: #F1F1F1;
}

.UsersList table tbody tr:hover, .UserInfo table tbody tr:hover {
  background-color: #ffff99;
}

.UsersList .pagin-buttons, .UserInfo .pagin-buttons {
  text-align: center;
}

.UsersList .pagin-buttons .pagin-btn, .UserInfo .pagin-buttons .pagin-btn {
  width: 154px;
  height: 56px;
  border-radius: 8px;
  background: #FFFFFF;
  color: #3A80BA;
  font-size: 16px;
  background: #3A80BA;
  width: 48px;
  height: 48px;
  color: #FFFFFF;
  margin: 0px 4px 0px 4px;
}

.UsersList .pagin-buttons .pagin-num-btn, .UserInfo .pagin-buttons .pagin-num-btn {
  width: 154px;
  height: 56px;
  border-radius: 8px;
  background: #FFFFFF;
  color: #3A80BA;
  font-size: 16px;
  background: #3A80BA;
  width: 48px;
  height: 48px;
  color: #FFFFFF;
  margin: 0px 4px 0px 4px;
}

.UsersList .footer-statistics, .UserInfo .footer-statistics {
  background: #1C3B55;
  height: 57px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 24px;
}

.UsersList .footer-statistics h4, .UserInfo .footer-statistics h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  margin: 11px;
}

/*Media*/
@media screen and (max-width: 800px) {
  .App, .UsersList, .UserInfo, .header-statistics {
    width: 800px !important;
    margin: 0px;
  }
  .col-6, .col-3, .header-col {
    width: 100%;
    display: block;
    margin: auto;
  }
  .header-main {
    width: 800px;
  }
  .mobile, .Jimmy-wrap, .keyboard_base {
    display: none;
  }
  .Rectangle_4 {
    display: none !important;
  }
  table {
    display: block !important;
    margin: 0px !important;
  }
  table, thead, tbody, th, td, tr {
    display: block !important;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  td:nth-of-type(1):before {
    content: "Id";
  }
  td:nth-of-type(2):before {
    content: "First Name";
  }
  td:nth-of-type(3):before {
    content: "Last Name";
  }
  td:nth-of-type(4):before {
    content: "Email";
  }
  td:nth-of-type(5):before {
    content: "Gender";
  }
  td:nth-of-type(6):before {
    content: "IP address";
  }
  td:nth-of-type(7):before {
    content: "Total clicks";
  }
  td:nth-of-type(8):before {
    content: "Total page views";
  }
  .charts-wrap {
    margin: 0px !important;
  }
  .chart {
    margin: auto !important;
  }
}
/*# sourceMappingURL=App.css.map */