@import 'layouts/grid';
@import 'layouts/mixins';
@import 'layouts/variables';
@import 'layouts/fonts';


.App {
    position: relative;
    margin: auto;
    width: 1440px;    
    background: $Color;  
    font-family: Montserrat;     

    .header-main {

      .header {
        padding-left: 130px;            
        background: linear-gradient(92.09deg, #255D8B 2.29%, #3A80BA 96.79%);
        background-image: url("Images/Rectangle_8.png");
        color: $Color;
        height: 655px;

        .header-col {
          width: 45%;
        }

        h2 {
          font-weight: normal;
          font-size: 40px;
          margin-top: 24px;
        }

        h1 {
          font-style: normal;
          font-weight: normal;
          font-size: 48px;
          margin-bottom: 0px;
        }

        p {
          margin-top: 24px;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          margin-bottom: 32px;
        }

        button {          
          @include button;
        }

        .mobile-wrap {
          display: block;        
          margin-top: 76px;
          margin-left: 186px;          
        }
      }
  }

  .wrap-img {
    background-image: url("Images/Rectangle_51.png");
    background-position: right;
    background-repeat: no-repeat;    

    .about2 {
      display: block;
      margin: auto;
      width: 664px;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      text-align: center;
      color: $ParagraphColor;
    }
  }

  .question {
    display:block;
    margin: auto;     
    font-size: 32px; 
    text-align: center;    
    width: 580px;     
    
    h3 {
      margin-top: 16px;
      margin-bottom: 24px;
      font-weight: normal;
    }
  }

  .about {
    display: block;
    margin: auto;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    width: 760px; 
    color: $ParagraphColor;    
    
    p {
      margin: 0px;
    }
  }

  .Info {
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 0px;   
    margin: 30px;
    margin-top: 22px;
    margin-bottom: 81px;   

    .rowInfo {
      align-items: center;
      justify-content: center;
    }
  
    .colInfo {
      padding: 0 10px;
    }
  
    .clean-design {
      background: #FFFFFF;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
      border-radius: 32px;
      padding: 40px;
      padding-left: 32px;
      padding-right: 32px;     
      text-align: center; 
      
      h3 {
        color: $HeaderColor;
        font-weight: 600;
        font-size: 24px;
      }

      h2 {
        font-weight: bold;
        font-size: 48px;
        margin: 0 0 30px 0;
      }

      p {
        color: $ParagraphColor;       
        margin: 0px;
        font-size: 15px;      
      }
    }    
  }

  .learn-container {
    background: linear-gradient(93.19deg, #255D8B 2.29%, #3A80BA 96.79%);  
    color: $Color;
    text-align: left;  
    padding-top: 40px;
    padding-bottom: 35px;         
     
      .learn-col {  
        width: 48%;              
    
        h2 {
          font-size: 32px;
          line-height: 39px;
          margin-left: 130px;  
          margin-bottom: 0px;                         
        }

        p {
          margin-left: 130px; 
          margin-bottom: 24px;         
        }

        button {          
          @include button;
          width: 221px;
          height: 56px;  
          margin-left: 130px;        
        }        
      }

      .Jimmy-wrap {
        background: linear-gradient(135.04deg, #FFFFFF 1.29%, #D0D0D0 80.1%);
        border-radius: 22px;
        position: absolute;
        left: 48.94%;
        right: 14.63%;
        top: 1230px;
        bottom: 1225px;               

        img {
          display: block;
          margin: auto;
          padding-top: 26px;       
        }

        .keyboard_base {
          display: block;
          margin-top: -15px;
          margin-left: -50px;        
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.0983639);        
        }
      }      

      .Rectangle_4 {
        display: block;
        z-index: 5;
        margin-top: 280px;
        margin-left: 15px;       
        width: 524px;
        height: 24px;       
        background: #DADADA;
      }  
  }

  .question {
    .h3Question {
      margin-top: 80px;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
    }   
  }
  
  .standard {
    color: $TextButtonColor;
  }

  .purchase-btn {
    @include button;
    background: $TextButtonColor;
    color: $Color;
    width: 221px;
    height: 56px;
    margin-top: 24px;    
  }

  .contact-us {
    display: block;
    margin: auto;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    width: 780px;
    height: 56px; 
    color: $ParagraphColor;
    padding-top: 0px;
    padding-bottom: 28px;

    p {
      margin: 0px;
    }
    
    span {
      color: $TextButtonColor;
      font-weight: bold;
    }
  }

  .main-footer {
    background: linear-gradient(95.82deg, #255D8B 1.6%, #3A80BA 96.44%);
    background-image: url("Images/Rectangle_54.png");     
    width: 100%;
    height: 183.46px;
    left: 0px;
   
    color: $Color;       
    text-align: center;  

    input {
      width: 579px;
      height: 64px;
      background: #FFFFFF;
      border: 1px solid #F1F1F1;
      box-sizing: border-box;
      border-radius: 10px;
      font-size: 16px;
      color: $ParagraphColor;
      padding-left: 20px;
      margin-top: 25px;
    }
    
    button {
      @include button;
      background: $TextButtonColor;
      width: 176px;
      color: $Color;
      margin-left: -180px;
    }

    h3 {
      font-size: 32px;
      font-style: normal;
      font-weight: normal;
      margin: 30px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      margin: 30px;
      padding-top: 11px;
    }
  } 
}

.UsersList, .UserInfo {
    font-family: Montserrat;   
    position: relative;
    margin: auto;
    width: 1440px;    
    background: $Color;  

    .charts-wrap {
      margin-right: 120px;
    }
    
    .chart {
      margin-left: 120px;      
    }   
  
.header-statistics { 
 width: 1440px;
 height: 72px;
 left: 0px;
 top: 0px; 
 background: $TextButtonColor;

  h2 {
    color: $Color;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    margin-left: 130px; 
    margin-top: 0px;
    padding-top: 10px;
  }
 }

 .Nav {
  display: flex;
  align-items: left;  
  line-height: 20px;
  color: $TextButtonColor;
  list-style: none;
  justify-content: 5px; 
  margin-left: 90px;
}

  ul a {
  text-decoration: none;
}

h2 {
  margin-left: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  margin-left: 130px;  
  color: $HeaderColor;
}

.form-users {
  text-align: center;
  
  label, input {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: $TextButtonColor;
  }

  input, textarea {
    background-color : #d1d1d1;
  }

  button {
    @include button;
    background: $TextButtonColor;
    width: 100px;
    height: 30px;
    color: $Color;
  }
}

table {
  width: 87%;
  padding: 0px 40px;
  text-align: left;
  margin-top: 10px;  
  margin-bottom: 24px;
  margin-left: 90px;
 
  thead {
    background: $TextButtonColor;
    color: $Color;    
  }

  th, td {
    padding: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }

  td {
    color: $HeaderColor;
    padding: 6px;
  }

  tr:nth-child(even){
    background-color: #F1F1F1;
  }

  tbody tr:hover {
    background-color: #ffff99;
  } 
}

.pagin-buttons {
  text-align: center;
  .pagin-btn {
    @include button;
    background: $TextButtonColor;
    width: 48px;
    height: 48px;
    color: $Color;
    margin: 0px 4px 0px 4px;
  }
  
  .pagin-num-btn {
    @include button;
    background: $TextButtonColor;
    width: 48px;
    height: 48px;
    color: $Color;
    margin: 0px 4px 0px 4px;
  }
}

.footer-statistics {
  background: #1C3B55;
  height: 57px;
  color: $Color;
  text-align: center;
  margin-top: 24px;

  h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin: 11px;
  }
}
}

/*Media*/
@media screen and (max-width: 800px) { 
  .App, .UsersList, .UserInfo, .header-statistics {
    width: 800px !important;  
    margin: 0px;   
  }  
  
  .col-6, .col-3, .header-col {
    width: 100%;
    display: block;
    margin: auto;
  }
  .header-main {      
    width: 800px;    
  }

  .mobile, .Jimmy-wrap, .keyboard_base {
    display: none;
  }

  .Rectangle_4 {
    display: none !important;
  }  

  table {
    display: block !important;     
    margin: 0px !important;    
  }

  table, thead, tbody, th, td, tr { 
    display: block !important;        
  }
  
  thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
  
  tr { border: 1px solid #ccc; }

  td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50% !important; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
  }
  
  td:nth-of-type(1):before { content: "Id"; }
	td:nth-of-type(2):before { content: "First Name"; }
	td:nth-of-type(3):before { content: "Last Name"; }
	td:nth-of-type(4):before { content: "Email"; }
	td:nth-of-type(5):before { content: "Gender"; }
	td:nth-of-type(6):before { content: "IP address"; }
	td:nth-of-type(7):before { content: "Total clicks"; }
  td:nth-of-type(8):before { content: "Total page views"; } 

  .charts-wrap {
    margin: 0px !important;
  }

  .chart {
    margin: auto !important;      
  }

}