@import 'grid';

//Variables
$Color: #FFFFFF; 
$TextButtonColor: #3A80BA;;



.App {
    position: relative;
    margin: auto;
    width: 1440px;
    height: 2890px;
    background: $Color;    

    .header-main {
      .header {
        padding-left: 130px;
        padding-top: 24px;       
        background: linear-gradient(92.09deg, #255D8B 2.29%, #3A80BA 96.79%);
        color: $Color;
        height: 655px;

        button {
          width: 154px;
          height: 56px;
          border-radius: 8px;
          background: $Color;
          color: $TextButtonColor;
          font-size: 16px;
        }

        .mobile-wrap {
          position: absolute;
          left: 65.04%;
          right: 16.43%;
          top: 2.65%;
          bottom: 78.34%;

          background: linear-gradient(270deg, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 95.21%, rgba(0, 0, 0, 0.03) 100%);
          border: 1px solid #F0F0F0;
        }
      }

  }
}
  